@import "/static/utility/css/google sans.css";

* {
  font-family: "Google Sans", sans-serif;
}

body {
  margin-left: 40px;
  margin-right: 40px;
  overflow: hidden;
}

#heading {
  text-align: center;
  color: red;
  background-color: rgb(206, 221, 226);
  margin-top: 10px;
}

#textArea {
  margin-top: 0px;
  margin-bottom: 0px;
  resize: none;
  height: 338px;
  font-size: 20px;
  border-color: black;
}

#descriptor {
  color: dodgerblue;
}

