<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/utility/css/index.css" />
    <link rel="stylesheet" href="/static/utility/css/semantic.min.css" />
    <link rel="stylesheet" href="/static/utility/css/bootstrap.min.css" />
  </head>
  <body>
    <h1 style="color: red; font-size: 40px; margin: 80px 0 0 0; text-align: center; font-weight: 600;">
        404 Error. Page not found
    </h1>
  </body>
</html>