<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/utility/css/index.css" />
    <link rel="stylesheet" href="/static/utility/css/semantic.min.css" />
    <link rel="stylesheet" href="/static/utility/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/utility/css/argon.min.css" />
  </head>
  <body style="margin-left: 40px; margin-right: 40px; overflow: hidden;">
    <div class="alert alert-default" id="intro" role="alert">
      <b>WELCOME TO TEXT UTILS!</b>
    </div>

    <br />

    <h3 id="descriptor">Your analysed text:</h3>

    <form action="analyse/" method="GET">
      <div class="ui form">
        <div class="field">
          <textarea
            spellcheck="false"
            id="textArea"
            readonly="readonly"
            style="margin-top: 0px; margin-bottom: 0px; resize: none; height: 338px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px; border-color: black;"
            name="textArea"
            >{{ result }}</textarea
          >
        </div>
      </div>

      <br /><br />

      <h3 id="descriptor" style="color: dodgerblue; text-align: center">
        Thanks for using <strong>Text Utils</strong>. Hope see you again. Have a
        good day.
      </h3>
    </form>

    <br /><br />

    <a href="/">
      <button
        class="btn btn-danger"
        id="submitButton"
        style="margin-left: 46%"
      >
        Text Utils
      </button>
    </a>
  </body>
</html>
